{% load static %}
<nav class="navbar bg-dark">
    <div class="container-fluid d-flex">
        <ul id="links_navbar" class="nav justify-content-start placeholder-glow">
            <li class="nav-item">
                <span class="placeholder col-3"></span>
            </li>
            <li class="nav-item">
                <span class="placeholder col-3"></span>
            </li>
            <li class="nav-item">
                <span class="placeholder col-3"></span>
            </li>
            <li class="nav-item">
                <span class="placeholder col-3"></span>
            </li>
            <li class="nav-item">
                <span class="placeholder col-3"></span>
            </li>
        </ul>
        <div id="user_navbar" class="navbar-brand d-flex justify-content-end">
            <img src="/media/avatars/default.png" class="align-self-center rounded" alt="avatar" width="30" height="24">
            <span class="placeholder col-3"></span>
        </div>
    </div>
</nav>

