{% load static %}
<div class="container fill_div_v2 p-4">
    <div class="row align-items-center pb-5">
        <div class="col-lg-6 mb-4">
            <h1>Welcome to <strong>Pongo</strong> 🎉</h1>
            <p>
                Greetings ! 
            </p>
            <p>
				Here we are, standing tall, after all these years of hard work and perseverance!
				This was quite the arduous task, but like the brilliant geniuses that we are, no amount of stress,
				bad weather or pagan holidays could deter us from our goal.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="/media/about_image.jpg" alt="About Us" class="img-fluid rounded shadow-lg">
        </div>
    </div>
    <div class="row align-items-start pb-5">
        <div class="col-lg-6 order-lg-2 mb-4">
            <h3>Our features to get to 125% include:</h3>
            <ul>
                <li>⚙️ <strong>Backend</strong> : Django is our man in the shadows, the brain of the operation.</li>
                <li>🎨 <strong>Frontend</strong> : Pure JavaScript was combined with Bootstrap to give you a visual.</li>
                <li>📊 <strong>Database</strong> : PostgreSQL keeps all the receipts, whether it be users, scores or your precious profile pics.</li>
                <li>👥 <strong>User managment</strong> : Secure accounts, stats, friendships, and login via 42 thanks to OAuth.</li>
                <li>💻 <strong>Gameplay</strong> : Remote players and real time chat thanks to Django Channels.</li>
                <li>🔒 <strong>Cybersecurity</strong> : Double authentication (2FA) and secure sessions with JWT.</li>
                <li>🎮 <strong>3D graphics</strong> : Cutting edge 3D graphics with Three.js.</li>
                <li>🏓 <strong>Server-side Pong</strong> : Complete takeover from the backend for all game calculations.</li>
                <li>🌐 <strong>Accessibility</strong> : Compatible with all browsers, wouldn't be fun otherwise.</li>
            </ul>
        </div>
        <div class="col-lg-6 order-lg-1">
            <h3>Our promise to you:</h3>
            <p>
				If you would be so kind as to recognize the beauty in our project and make it pass, 
				we would be overjoyed to reward you with a slice of freshly baked, hand-made cake!
            </p>
            <p>
                In short, <strong>Pongo</strong>, is a modern day representation of pure, unadulterated art.
				It seeps through your pores and takes over your body. It takes residence in your mind and never lets go.	
			</p>
			<p>
				I am <strong>Pongo</strong>. You are <strong>Pongo</strong>. We are <strong>Pongo</strong>.
			</p>
			<p>
				Join us in the freedom of egodeath. We are perfect. We are true.
			</p>
            <p>
                Loïc, Seán, Jérémie, Mateja and Hélène – the <strong>Pongo</strong> team. 🕺
            </p>
        </div>
    </div>
</div>
