{% load static %}
<div class="container text-center fill_div">
    <div id="pre_login_content" class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4 col-sm-8 border-end border-dark border-5">
            <a class="link_to" data-path="/login/" role="button" target="_self">
                <img src="/media/login.jpg" class="img-fluid" alt="42lausanne">
            </a>
            <p>Login</p>
        </div>
        <div class="col-md-4 col-sm-8">
            <a class="link_to" data-path="/oauth_login/" role="button" target="_self">
                <img src="/media/42_logo.svg" class="img-fluid" alt="42lausanne">
            </a>
            <p>42Lausanne login</p>
        </div>
    </div>
</div>