{% load static %}
<div class="pt-5 fill_div">
    <div class="shadow container card border-secondary d-flex justify-content-center">
        <div class="card-header bg-transparent">
            <h2 class="text-center m-0">Register</h2>
        </div>
        <form id="register_form">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label class="mb-1" for="input_username">Username</label>
                    <input type="text" class="form-control" id="input_username" placeholder="Enter username" required>
                </div>
                <span class="ms-2 d-none text-danger" id="username_error"></span>
                <div class="form-group mt-2">
                    <label class="mb-1" for="input_email">Email address</label>
                    <input type="email" class="form-control" id="input_email" placeholder="Enter email" required>
                </div>
                <span class="ms-2 d-none text-danger" id="email_error"></span>
                <div class="form-group mt-2">
                    <label class="mb-1" for="input_password">Password</label>
                    <input type="password" class="form-control" id="input_password" placeholder="Password" required>
                </div>
                <div id="passwordHelpBlock" class="ms-2 form-text">
                    Your password must be 8-20 characters long, one uppercase letter, number and special characters.
                </div>
                <div class="form-group mt-2">
                    <label for="input_confirm_password" class="mb-1">Confirm Password</label>
                    <input type="password" class="form-control" id="input_confirm_password" placeholder="Confirm password">
                </div>
                <div class="form-group mt-2">
                    <label class="mb-1" for="input_avatar">Upload</label>
                    <input type="file" class="form-control" id="input_avatar">
                </div>            
                <span class="ms-2 d-none text-danger" id="avatar_error"></span>
                <select id="select_auth" class="form-select my-3" aria-label="Double authentification">
                    <option selected>Select double authentification</option>
                    <option value="None">None</option>
                    <option value="Email">Email</option>
                    <option value="Application">Application</option>
                </select>
                <div class="d-flex justify-content-center mt-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="appSetupModal" tabindex="-1" aria-labelledby="appSetupModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appSetupModalLabel">Set Up Two-Factor Authentication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Scan the QR code below to set up your authentication app:</p>
                <img id="qrcode" src="" alt="QR Code" class="img-fluid">
                <p class="mt-3">At next login enter the code, generated by your app, in the verification field.</p>
            </div>
        </div>
    </div>
</div>
