{% load static %}
<div class="pt-5 fill_div_v2">
    <div class="card container justify-content-center d-flex border-secondary">
        <div class="card-header bg-transparent">
            <h2 class="text-center">Settings</h2>
        </div>
        <form id="settings_form" class="pt-4">
            <div class="card-body">
                <div class="form-group mb-1">
                    <label for="input_username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="input_username" placeholder="{{ current_user.username }}" value=""
                    {% if user.remote_user %}disabled{% endif %}>
                </div>
                <div class="form-group mt-2">
                    <label for="input_nickname" class="form-label">Nickname</label>
                    <input type="text" class="form-control" id="input_nickname" placeholder="{{ current_user.nickname }}" value="">
                </div>
                <div class="form-group mt-2">
                    <label for="input_email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="input_email" placeholder="{{ current_user.email }}" value=""
                    {% if user.remote_user %}disabled{% endif %}>
                    <span class="ms-2 d-none text-danger" id="email_error"></span>
                </div>
                <div class="form-group mt-2">
                    <label class="mb-1" for="input_password">New Password</label>
                    <input type="password" class="form-control" id="input_password" placeholder="Enter new password"
                    {% if user.remote_user %}disabled{% endif %}>
                    <div id="passwordHelpBlock" class="ms-2 form-text">
                        Your password must be 8-20 characters long, one uppercase letter, one number, and special characters.
                    </div>
                </div>
                <span class="ms-2 d-none text-danger" id="password_error"></span>
                <div class="form-group mt-2">
                    <label for="input_confirm_password" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="input_confirm_password" placeholder="Confirm new password"
                    {% if user.remote_user %}disabled{% endif %}>
                </div>
                <div class="form-group mt-2">
                    <label for="input_avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" id="input_avatar" accept="image/*"
                    {% if user.remote_user %}disabled style="pointer-events: none; opacity: 0.5;"{% endif %}>
                </div>
                {% if not user.remote_user %}
                <span class="ms-2 d-none text-danger" id="avatar_error"></span>
                <div class="form-group mt-2">
                    <label for="select_auth" class="form-label">Two-Factor Authentication</label>
                    <select class="form-select" id="select_auth">
                        <option value="none" {% if user.enable_2fa == "none" %}selected="selected"{% endif %}>None</option>
                        <option value="email" {% if user.enable_2fa == "email" %}selected="selected"{% endif %}>Email</option>
                        <option value="totp" {% if user.enable_2fa == "totp" %}selected="selected"{% endif %}>Application</option>
                    </select>
                </div>
                {% endif %}
                <div class="d-flex justify-content-center mt-1">
                    <button type="submit" id="settings_submit" class="btn btn-primary">Update Settings</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal for App-Based 2FA Setup -->
<div class="modal fade" id="appSetupModal" tabindex="-1" aria-labelledby="appSetupModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appSetupModalLabel">Set Up Two-Factor Authentication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Scan the QR code below to set up your authentication app:</p>
                <img id="qrcode" src="" alt="QR Code" class="img-fluid">
                <p class="mt-3">At next login enter the code, generated by your app, in the verification field.</p>
            </div>
        </div>
    </div>
</div>


